<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="BackgroundColor" value="90a959" />
    <add key="ForegroundColor" value="ffffff" /> -->    
    <add key="BackgroundColor" value="00000000" />
    <add key="ForegroundColor" value="ffffff" /> 
  </appSettings>
</configuration>